/* Root font size */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 16px; /* 1rem = 16px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #FEFCF7;
}
h3{
 font-family: "Fraunces", serif;
 font-weight: 900;
 font-size: 24px;
 line-height: 32px;
 color:#333D4B;
 margin-bottom: 24px;
}
p{
 font-family: "Barlow", sans-serif;
 font-weight: 400;
 font-size: 15px;
 line-height: 25px;
 color: #333D4B;
}
/* Container */
.collection-section {
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

/* Title */
.collection-img {
  width: 275px;
 /* height: 300px;  */
  margin-bottom: 13px;
  /* background-image: 
    linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%),
    url('./images/ourcollection.svg');

  background-size:contain;
  background-position: center;
  background-repeat: no-repeat; */
}

/* Coffee List */
.coffee-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.5rem;
}

/* Coffee Item (Mobile) */
.coffee-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.coffee-item img {
  width: 200px;
  height: 151px;
  margin-bottom: 1rem;
}
.text{
  width: 282px;
  height: 98px;
}



/* --------- Tablet Version --------- */
@media (min-width: 600px) {

  .coffee-list {
    gap: 2.5rem;
    width: 573px;

  }

  .coffee-item {
    flex-direction: row;
    text-align: left;
    gap: 2rem;
  }

  .coffee-item img {
    width: 234px;
    height: 177px;
  
  }
  .collection-img {
    width: 689px;
    height: 118px;
}


 .text{
  height: 106px;
}

}

/* --------- Desktop Version --------- */
@media (min-width: 1024px) {
.collection-img{
 width: 1111px;
 height: 196px;
}
  .coffee-list {
    width: 255px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .coffee-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -85px;
    /* max-width: 220px; */
  }

  .coffee-item img {
    width: 256px;
    height: 193px;
    margin-bottom: 1rem;
  }


  .coffee-item .text p {
    font-size: 16px;
    line-height: 26px;
  }
}
